<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div
        class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <div class="flex items-center mx-2 lg:mr-8">
            <div class="hidden lg:flex">
                <img class="dark:hidden w-14" src="assets/images/logo/logo.png">
                <img class="hidden dark:flex w-24" src="assets/images/logo/logo-text-on-dark.png">
            </div>
            <img class="flex lg:hidden w-12" src="assets/images/logo/logo.png">
            <h2 class="text-secondary text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 ml-4">
                LOADGISTIX </h2>
        </div>
    </div>

    <!-- Content -->
    <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
            proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true"
            [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
                overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>

        <div class="flex flex-col items-center mt-4">
            <div class="flex items-center p-4" style="width:100%">
                <button mat-raised-button fxFlex="33" color="basic" (click)="signIn()">Log In</button>
                <button mat-raised-button fxFlex="34" color="primary" class="ml-4 mr-4" (click)="signUp()">Sign
                    Up</button>
                <button mat-raised-button fxFlex="33" color="basic" (click)="businessDirectory()">Business
                    Directory</button>
            </div>
        </div>

        <!-- Header & Cards -->
        <div class="relative px-6 overflow-hidden">
            <!-- Background - @formatter:off -->
            <svg class="-z-1 absolute inset-0" viewBox="0 0 960 540" width="100%" height="100%"
                preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
                    stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
        </div>

        <!-- Features -->
        <div class="flex flex-col items-center px-6 py-10 sm:px-16 sm:pt-18 sm:pb-20 bg-white dark:bg-gray-800">
            <div class="w-full">
                <div>
                    <div class="text-4xl font-extrabold tracking-tight leading-tight">
                        Everything you need to build efficiency
                    </div>
                    <div class="mt-2 text-xl text-secondary">
                        <p>Loadgistix brings the Logistics community to one central place where anything that companies
                            or
                            people want to search for or, to connect with in Logistics is available locally
                            and globally in one place.</p><br>
                        <p>It deals with anything and everything to do
                            within the entire Supply Chain and does not only deal with Road Transport.</p><br>
                        <p>
                            Since it is internet based it is available Globally.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA -->
        <div class="px-6 py-10 sm:py-12 sm:px-16 bg-primary-600 text-on-primary-600">
            <div class="flex flex-col items-center w-full max-w-7xl mx-auto text-center">
                <div class="text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10">Register Today
                </div>
                <button mat-raised-button (click)="signUp()"
                    class="fuse-mat-button-large mt-8 px-12 bg-white text-primary-800">
                    <span class="text-lg">Sign Up</span>
                </button>
            </div>
        </div>

        <!-- Frequently asked questions -->
        <div class="flex flex-col items-center pt-12 sm:pt-18 pb-8 sm:pb-20 px-6 sm:px-16 bg-gray-50 dark:bg-gray-800">
            <div class="w-full">
                <div>
                    <div class="text-4xl font-extrabold tracking-tight leading-tight">
                        About Loadgistix
                    </div>
                    <div class=" mt-2 text-xl text-secondary">
                        <p>The integrated portal allows access to every aspect of Logistics that is integrated by a
                            independent, interactive,
                            dynamic we based system. Loadgistix is providing solutions to shortcomings that exist within
                            and
                            between current
                            Logistics Providers, Providers to the Logistics Industry and all the peripheral
                            support systems</p><br>
                        <p>The system is independent, automated, live and interactive with a dynamic and secure nature.
                            The
                            system operates across
                            all Modes of Logistics.</p>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">Loadgistix &copy; {{currentYear}}</span>
    </div>
</div>