<router-outlet></router-outlet>
<!-- <ngx-spinner name="mySpinner" id="mySpinner" type="square-jelly-box" class="absolute w-fit h-fit">
    <p class="text-white pt-8">...connecting.the.dots...</p>
</ngx-spinner> -->
<!-- <ngx-spinner name="manualSpinner" id="manualSpinner" type="square-jelly-box" class="absolute w-fit h-fit">
    <p class="text-white pt-8">...connecting.the.dots...</p>
</ngx-spinner> -->
<!-- <ngx-spinner name="loadingSpinner" id="loadingSpinner" type="square-jelly-box" class="absolute w-fit h-fit">
    <p class="text-white pt-8">...connecting.the.dots...</p>
</ngx-spinner> -->
