anDef {
    font-weight: 900;
    font-size: 7vw;
    
    position: relative;
    left: 0;
    right: 0;
  
  }
  
  .anDef .letters {
    //position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0; 
  }