<!-- <div class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-auto sm:rounded-2xl overflow-hidden shadow-lg">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Select Address</div>
        <button (click)="cancel()"
            mat-icon-button
            [tabIndex]="-1">
            <mat-icon class="text-on-primary">close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="flex flex-col bg-card dark:bg-gray-800 " fxLayoutAlign="start center" class="mat-typography">
        <mat-form-field appearance="outline" class="w-full search-input">
            <input matInput id="pac-input" class="w-full mt-5" type="text" placeholder="Enter a location">
        </mat-form-field>
        <div fxFlex class="map-container-address" *ngIf="loaded">
            <div class="map-frame">
                <div id="map" class="map-dialog-address"></div>
            </div>
            <ng-template *ngIf="loading" #loadingTemplate>
                <div class="loading-template"></div>
            </ng-template>
        </div>
        <div class="map-shadow"></div>
    </mat-dialog-content>
    <mat-dialog-actions class="flex flex-row items-center justify-between bg-gray-100 dark:bg-gray-800">
        <div>
            <button mat-icon-button [color]="'warn'">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div class="flex items-center">
            <button mat-icon-button class="bg-primary" (click)="submit()">
                <mat-icon class="text-on-primary">check</mat-icon>
            </button>
        </div>
    </mat-dialog-actions>
</div> -->
